body{
   text-align: center;
   background-color:rgb(117, 230, 218);
}

h1{
   font-family: "Lucida Console", "Courier New", monospace;
   color:rgb(5, 68, 94);
}

h3{
   font-family: "Lucida Console", "Courier New", monospace;
   color:rgb(5, 68, 94);
}

p{
   font-family: "Lucida Console", "Courier New", monospace;
   color:rgb(5, 68, 94);
}